################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs
/src/CompetitiveRankingWeb/bin
/src/CompetitiveRankingWeb/obj
/src/CompetitiveRankingWeb.Tests/bin
/src/CompetitiveRankingWeb.Tests/obj
/src/packages
